<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/shapes.css">
    <title>
        Registration Form
    </title>
</head>

<body>
    <div class="container" ng-controller="AnimateVM as animate">
        <a href="/">Homepage</a>
        <br />

        <div class="box rotate"></div>

        <input type="checkbox" ng-model="animate.class.box"/> Box ({{animate.class.box}})
        <input type="checkbox" ng-model="animate.class.circle" /> Circle ({{animate.class.box}})
        <input type="checkbox" ng-model="animate.class.triangle" /> Triangle ({{animate.class.box}})
        <div class="rotate" ng-class="{'box': animate.class.box, 'circle': animate.class.circle, 'triangle': animate.class.triangle}"></div>
    </div>
</body>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="js/client.module.js"></script>
<script src="js/animate.controller.js"></script>


</html>