<!DOCTYPE html>
<html ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>
        Filter
    </title>
</head>
<body>
    <div ng-controller="FilterVM as vm">
        <a href="/">Homepage</a>
        Today is {{vm.today | date: "dd/MM/yyyy 'at' h:mma"}}
        <hr/>
        <label for="Name">Name: </label><input type="text" ng-model="vm.search"/>
        <div class="row header" style="display:block;margin: 0 auto;font-weight: bold;">
            <div class="col-md-2" ng-click="vm.sortBy('id')">
                Id<button ng-click="ctrl.sortBy('id')" class="fa fa-sort"></button>
            </div>
            <div class="col-md-2">
                Name <button ng-click="ctrl.sortBy('name')" class="fa fa-sort"></button>
            </div>
            <div class="col-md-2">
                Age <button ng-click="ctrl.sortBy('age')" class="fa fa-sort"></button>
            </div>
        </div>
        <div class="row data-table" ng-repeat="record in vm.records | filter: vm.search | orderBy: vm.orderBy: vm.reverse" style="display:block;margin: 0 auto;">
            <div class="col-md-2">
                {{record.id}}
            </div>
            <div class="col-md-2">
                {{record.name}}
            </div>
            <div class="col-md-2">
                {{record.age}}
            </div>
        </div>
    </div>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/client.module.js"></script>
<script src="js/client.service.js"></script>
<script src="js/filter.controller.js"></script>


</html>