<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>
        Registration Form
    </title>
</head>

<body>
    <div class="container">
        <a href="/filter.html">Filter</a> &amp; <a href="/animation.html">Animate</a>
        <div class="col-4 registration-page" ng-controller="RegVM as vm">
            <h1>Registration</h1>
            <h2>test@1Test.com</h2>
            <form name="regForm" ng-cloak ng-submit="regForm.$valid && vm.onSubmit()" required novalidate>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input class="form-control" id="email" name="email"  placeholder="youremail@domain.com" type="email" ng-model="vm.selected.email" required/>
                    <div class="validation" data-ng-show="regForm.email.$touched || regForm.$submitted">
                        <div data-ng-show="regForm.email.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Email is required
                        </div>
                        <div data-ng-show="regForm.email.$error.email">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Email is invalid
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/g" ng-model="vm.selected.password" ng-minlength="8" placeholder="Alphanumeric with special characters" />
                    <div class="validation" data-ng-show="regForm.password.$touched || regForm.$submitted" required ng-required="vm.selected.confirmPassword">
                        <div data-ng-show="regForm.password.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Password required
                            <!-- NOTE: No ng-model == No validation -->
                        </div>
                        <div data-ng-show="regForm.password.$error.minlength">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Password needs to be at least 8 characters long.
                        </div>
                        <div data-ng-show="regForm.password.$error.pattern">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Password must include special characters, numbers and both uppercase &amp; lowercase characters.
                        </div>
                        <div data-ng-show="vm.selected.password != vm.selected.confirmPassword">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Need to confirm password below
                            <!-- NOTE: No ng-model == No validation -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm password</label>
                    <input class="form-control" id="confirmPassword" name="confirmPassword" ng-model="vm.selected.confirmPassword" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/g" type="password" placeholder="Use the same password from above" required ng-required="vm.selected.password" />
                    <div class="validation" data-ng-show="regForm.confirmPassword.$touched || regForm.$submitted">
                        <div data-ng-show="vm.selected.password != vm.selected.confirmPassword">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Passwords do not match
                            <!-- NOTE: No ng-model == No validation; required &amp; ng-required needed for matching -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullName">Full name</label>
                    <input class="form-control" id="fullName" name="fullName" type="name" placeholder="Adam Smith" ng-model="vm.selected.fullName" />
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" id="genderMale" ng-model="vm.selected.gender" value="Male"> Male
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" id="genderFemale" ng-model="vm.selected.gender" value="Female"> Female
                        </label>
                    </div>
                    <div class="validation" data-ng-show="regForm.confirmPassword.$touched || regForm.$submitted">
                        <div data-ng-show="vm.selected.gender == 'Male' || regForm.gender.$untouched && !vm.onlyFemales()">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Only females allowed
                            <!-- NOTE: No ng-model == No validation; required &amp; ng-required needed for matching -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob">Date of birth</label>
                    <input class="form-control" id="dob" name="dob" ng-model="vm.selected.dob" type="date" />
                </div>
                <div class="form-group">
                    <label for="postalAddress">Postal address</label>
                    <textarea class="form-control" id="postalAddress" name="postalAddress" ng-model="vm.selected.postalAddress" rows="3" type="textarea"></textarea>
                </div>
                <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <select class="form-control" name="nationality" id="nationality" ng-model="vm.selected.nationality">
                        <option value="" disabled selected>
                            {{vm.SELECT_DEFAULT.name}}
                        </option>
                        <option ng-repeat="nationality in vm.nationalities" value="{{nationality.value}}">
                            {{nationality.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="contactNo">Contact number</label>
                    <input class="form-control" id="contactNo" name="contactNo" type="text" ng-model="vm.selected.contactNo" ng-pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d| 2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]| 4[987654310]|3[9643210]|2[70]|7|1)\d{1,8}$" placeholder="91234567" />
                    <div class="validation" data-ng-show="regForm.contactNo.$touched || regForm.$submitted">
                        <div data-ng-show="regForm.contactNo.$error.pattern">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Invalid phone number
                            <!-- NOTE: No ng-model == No validation; required &amp; ng-required needed for matching -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <hr/>
                    <input class="btn btn-success" id="submit" name="submit" type="submit" />
                </div>
            </form>
        </div>
    </div>
    <h1>Submit successful!</h1>
</body>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/client.module.js"></script>
<script src="js/client.service.js"></script>
<script src="js/client.controller.js"></script>


</html>