.box {
    margin: 50px auto;
    background: #5FCF80;
    width: 150px;
    height: 150px;
}

.box:hover {
    transform: rotate(360deg);
    background: #9351A6;
    border-radius: 50%;
}

.circle {
    transform: rotate(360deg);
    background: #9351A6;
    border-radius: 50%;
    margin: 20px auto;
    width: 150px;
    height: 150px;
}

.triangle {
    transform: rotate(360deg);
    width: 0px;
    height: 0px;
    margin: 50px auto;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}

.rotate {
    transition: all 0.5s ease-in-out;
}

.rotate:hover {
    transition: all 1s ease-in-out;
}